{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@type/(.*)$",
    "^@lib/(.*)$",
    "^@constants/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@mocks/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
